<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
    </div>

    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="!onLoginForm.get('email').valid && onLoginForm.get('email').touched ">
        <ion-text color="warning">
          *Email invalide
        </ion-text>
      </p>
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Mot de passe
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password" ></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-text color="warning">
          *champ obligatoire
        </ion-text>
      </p>
 
    </form>

    <p text-left tappable (click)="forgotPass()" class="paz">
      <ion-text color="light">
    Mot de passe oublier ?
      </ion-text>
    </p>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)= "login() "[disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        se connecter
      </ion-button>

      <p text-center>
        <ion-text color="light">
          Ou se connecter avec:
        </ion-text>
      </p>

      <ion-grid class="btn-group">
        <ion-row>
          <ion-col>
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>        
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-google"></ion-icon>
            </ion-button>
          </ion-col> 
        </ion-row>
      </ion-grid>

    </div>
    <div text-center margin-top>
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="light">
          Pas de compte ? <strong>s'inscrire</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>